name: arr-stack
services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${HOME_DIR}/arr-stack/sonarr/data:/config
      - "/mnt/media/TV Shows:/tv"
      - /mnt/media/downloads:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${HOME_DIR}/arr-stack/radarr/data:/config
      - /mnt/media/Movies:/movies
      - /mnt/media/downloads:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${HOME_DIR}/arr-stack/bazarr/data:/config
      - /mnt/media/Movies:/movies
      - "/mnt/media/TV Shows:/tv"
    ports:
      - 6767:6767
    restart: unless-stopped
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${HOME_DIR}/arr-stack/prowlarr/data:/config
    ports:
      - 9696:9696
    restart: unless-stopped
  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${HOME_DIR}/arr-stack/lidarr/config:/config
      - /mnt/media/Music:/music
      - /mnt/media/downloads:/downloads
    ports:
      - 8686:8686
    restart: unless-stopped
  deluge:
    container_name: deluge
    image: binhex/arch-delugevpn:latest
    ports:
      - 8112:8112
      - 8118:8118
      - 9118:9118
      - 58846:58846
      - 58946:58946/udp
    volumes:
      - ${HOME_DIR}/arr-stack/deluge/config:/config
      - /mnt/media/downloads:/downloads
      - /etc/localtime:/etc/localtime:ro
    environment:
      VPN_ENABLED: yes
      VPN_PROV: protonvpn
      VPN_CLIENT: wireguard
      TEST_VPN_USER: /run/secrets/vpn_user
      VPN_USER: ${VPN_USER}
      VPN_PASS: ${VPN_PASS}
      ENABLE_STARTUP_SCRIPTS: no
      ENABLE_PRIVOXY: no
      LAN_NETWORK: ${LAN_NETWORK}
      DELUGE_DAEMON_LOG_LEVEL: info
      DELUGE_WEB_LOG_LEVEL: info
      DELUGE_ENABLE_WEBUI_PASSWORD: yes
      DEBUG: false
      UMASK: 000
      PUID: 1000
      PGID: 1000
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    privileged: true
    restart: unless-stopped
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      TZ: Etc/UTC
    ports:
      - 8191:8191
    restart: unless-stopped
  overseerr:
    image: sctx/overseerr:latest
    container_name: overseerr
    environment:
      - LOG_LEVEL=info
      - TZ=Etc/UTC
      - PORT=5055
    ports:
      - 5055:5055
    volumes:
      - ${HOME_DIR}/arr-stack/overseerr/config:/app/config
    restart: unless-stopped
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:latest
    container_name: recyclarr
    volumes:
      - ${HOME_DIR}/arr-stack/recyclarr/config:/config
    environment:
      - TZ=Etc/UTC
      - RECYCLARR_CREATE_CONFIG=true
    restart: unless-stopped
  maintainerr:
    image: ghcr.io/maintainerr/maintainerr:latest
    container_name: maintainerr
    user: 1000:1000
    volumes:
      - type: bind
        source: ${HOME_DIR}/arr-stack/maintainerr
        target: /opt/data
    environment:
      - TZ=Etc/UTC
    ports:
      - 6246:6246
    restart: unless-stopped
networks:
  default:
    name: arr-network
    ipam:
      config:
        - subnet: 192.20.0.0/16
          gateway: 192.20.0.1
